<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Devpendent</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Devpendent.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://use.typekit.net/iuj7zna.css">
</head>
<body>
    <div class="default-main">
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm" aria-label="main">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img class="default-logo" alt="Devpendent Logo" /></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="21" viewBox="0 0 30 21">
                                <g transform="translate(-3 -7.5)">
                                    <path d="M4.5,18h27" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" />
                                    <path d="M4.5,9h27" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" />
                                    <path d="M4.5,27h27" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" />
                                </g>
                            </svg>
                        </span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Projects" asp-action="Index">Browse</a>
                            </li>
                            <partial name="_LoginPartial" />
                            <li class="search-wrap">
                                @using (Html.BeginForm("Index", "Projects", FormMethod.Get, new { id = "search-form" }))
                                {
                                    @Html.TextBox("SearchString", "", new { placeholder = "What project do you need done?" })
                                    <button type="submit">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="49" height="48" viewBox="0 0 49 48">
                                            <g stroke="#000" stroke-width="1">
                                                <path d="M0,0H34A15,15,0,0,1,49,15V33A15,15,0,0,1,34,48H0a0,0,0,0,1,0,0V0A0,0,0,0,1,0,0Z" stroke="none" />
                                                <path d="M.5.5H34A14.5,14.5,0,0,1,48.5,15V33A14.5,14.5,0,0,1,34,47.5H.5a0,0,0,0,1,0,0V.5A0,0,0,0,1,.5.5Z" fill="none" />
                                            </g>
                                            <path d="M24.26,23.045,18.7,17.432a7.925,7.925,0,1,0-1.2,1.218l5.525,5.577a.856.856,0,0,0,1.208.031A.861.861,0,0,0,24.26,23.045ZM12.472,18.718A6.258,6.258,0,1,1,16.9,16.886,6.219,6.219,0,0,1,12.472,18.718Z" transform="translate(10.002 9.507)" fill="#fff" />
                                        </svg>
                                    </button>
                                }
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </div>
    <div class="container">
        <main role="main">
            <div class="row">
                <partial name="_NotificationPartial" />
                @if (ViewContext.RouteData.Values["area"] == null)
                {
                    <breadcrumb>
                        <li class="breadcrumbs-item home">
                            <a asp-area="" asp-controller="Home" asp-action="Index">
                                <svg xmlns="http://www.w3.org/2000/svg" width="14.498" height="15.964" viewBox="0 0 14.498 15.964">
                                    <g id="Icon_feather-home" data-name="Icon feather-home" transform="translate(-3.85 -2.35)">
                                        <path id="Path_5" data-name="Path 5" d="M4.5,8.132,11.1,3l6.6,5.132V16.2a1.466,1.466,0,0,1-1.466,1.466H5.966A1.466,1.466,0,0,1,4.5,16.2Z" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.3" />
                                        <path id="Path_6" data-name="Path 6" d="M13.5,25.332V18h4.4v7.332" transform="translate(-4.601 -7.668)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.3" />
                                    </g>
                                </svg>
                            </a>
                        </li>
                    </breadcrumb>
                }
                @RenderBody()
            </div>
        </main>
    </div>

    <footer class="footer border-footer">
        <div class="footer-main">
            <div>
                <h3>Categories</h3>
                <vc:categories view="Links" />
            </div>
            <div>
                <h3>About</h3>
                <a href="#">Lorem Ipsum</a>
                <a href="#">Lorem Ipsum</a>
                <a href="#">Lorem Ipsum</a>
                <a href="#">Lorem Ipsum</a>
                <a href="#">Lorem Ipsum</a>
                <a href="#">Lorem Ipsum</a>
            </div>
            <div>
                <h3>Support</h3>
                <a href="#">Lorem Ipsum</a>
                <a href="#">Lorem Ipsum</a>
                <a href="#">Lorem Ipsum</a>
                <a href="#">Lorem Ipsum</a>
                <a href="#">Lorem Ipsum</a>
                <a href="#">Lorem Ipsum</a>
            </div>
            <div>
                <h3>Contact</h3>
                <a href="#">Lorem Ipsum</a>
                <a href="#">Lorem Ipsum</a>
                <a href="#">Lorem Ipsum</a>
                <a href="#">Lorem Ipsum</a>
                <a href="#">Lorem Ipsum</a>
                <a href="#">Lorem Ipsum</a>
            </div>
        </div>
        <div class="text-muted border-footer">
            <p class="copyright">&copy; 2023 - DEVPENDENT - Made by <a href="https://slw.one">Samuel Ward</a></p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
