@model IEnumerable<Devpendent.Models.Category>

@{
    ViewData["Title"] = "Browse all categories";
}

<h1>Browse all categories</h1>

<div class="instruction-wrap my-5">
    <div class="instruction">
        <h3 class="mb-3">Find the perfect developer for your project</h3>
        <div>
            <p>
                At Devpendent we have developers with many different specialties. No matter if you need a complete website from scratch or someone to design posters for your businesses social media accounts we have the freelance developers for you. Just pick a category below and start browsing!
            </p>
        </div>
    </div>
</div>

<div>
    <div class="category-wrap">
        @foreach (var item in Model)
        {
            <div class="category" style="background-image: url('/media/categories/@item.Image');">
                <div>
                    <div>
                        <h3>@item.Name</h3>
                        <p>@item.Description</p>
                    </div>
                    <a class="btn" asp-controller="Projects" asp-action="Index" asp-route-categorySlug="@item.Slug">Browse</a>
                </div>
            </div>
        }
    </div>
</div>
