h1, .user-profile-wrap #Input_FirstName, .user-profile-wrap #Input_LastName {
    font-family: "paralucent", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2.6rem;
}

h2 {
    font-family: "paralucent", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2.222rem;
    margin-bottom: 20px;
}

h3 {
    font-family: "paralucent", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.556rem;
}

h4 {
    font-family: "paralucent", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.25rem;
}

h5, label, .nav-pills .nav-item {
    font-family: "paralucent", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.938rem;
}

h6 {
    font-family: nimbus-sans, sans-serif;
    font-weight: 300;
    font-style: normal;
}

p, input, textarea, .alert {
    font-family: "nimbus-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.111rem;
}

a {
    font-family: "nimbus-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #317E53;
    text-decoration: underline;
}

body {
    color: #000;
    overflow-x: hidden;
}

.alert {
    border-radius: 15px;
}

.container, .container-fluid, .row > * {
    padding: 0 !important;
}

.row {
    margin: 0 !important;
}

.navbar-toggler {
    padding: 0 !important;
}

.mt-section {
    margin-top: 120px;
}

.rounded {
    border-radius: 18px !important;
}

.border-footer {
    border-top: 2px solid #CECECE;
}

main {
    padding-bottom: 120px;
}

.navbar-nav {
    gap: 20px;
    align-items: center;
}

.home-main {
    position: relative;
    width: 100%;
    color: #fff;

    .navbar {
        padding: 40px;

        li {
            height: min-content;
        }
    }

    .nav-link {
        font-family: "paralucent", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 1.15rem;
    }

    .btn {
        border: 1px solid #fff;
        border-radius: 15px;
        padding: 8px 15px !important;
    }
}

.default-main {
    .navbar {
        padding: 20px 40px;
        border-bottom: 2px solid #CECECE;
        margin-bottom: 100px;

        a {
            line-height: 0;
            width: max-content;
        }

        a.btn {
            line-height: 32px !important;
        }

        li {
            height: min-content;
            width: max-content;
        }
    }

    .navbar-nav {
        flex-basis: 920px;
        justify-content: end;
    }

    .nav-link {
        font-family: "paralucent", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 1.15rem;
        color: #000;
    }
}

.btn {
    background-color: #317E53;
    color: white;
    border-radius: 13px;
    font-family: paralucent, sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 5px 15px;
}

.breadcrumb {
    gap: 10px;
    margin-bottom: 45px;

    li {
        font-family: "nimbus-sans", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 0.938rem;
    }

    a {
        color: #777777;
        text-decoration: none;
    }

    .home {
        order: -1;

        a {
            display: block;
        }

        svg {
            margin-bottom: 3px;
        }
    }
}

.breadcrumb li:nth-child(1) {
    display: none;
}

.breadcrumbs-item {
    transition: 0.2s ease-out;
}

.breadcrumb-item.active {
    color: #000;
}

.home-logo {
    content: url("/media/logo_white.png");
}

.default-logo {
    content: url("/media/logo_black.png");
}

.home-bg {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}

.home-text {
    position: absolute;
    padding: 0px 40px;
    text-align: right;
    max-width: 900px;
    width: 100%;
    height: fit-content;
    margin: auto;
    position: absolute;
    right: 0;
    top: 50vh;
    bottom: 0;
    transition: opacity 0.3s ease;
}

.home-desc {
    display: block;
    font-family: "nimbus-sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    max-width: 600px;
    margin-left: auto;
}

.home-overlay {
    position: absolute;
    top: 0;
    width: 100%;
}

.category-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
}

.category {
    height: 343px;
    width: 307px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    border-radius: 25px;

    > div {
        padding: 16px;
        background: linear-gradient(rgba(0,0,0) 0%, rgba(0,0,0,0) 50%);
        border-radius: 25px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.category-link {
    text-align: center;
}

.project-wrap {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 77px;
    row-gap: 30px;
}

.project {
    border: 1px #000 solid;
    border-radius: 30px;
    width: 388px;

    a {
        color: inherit;
        text-decoration: inherit;
    }

    .project-thumb-wrap {
        background-size: 100%;
        transition: background-size 0.3s ease;
    }

    > div {
        border-radius: 25px;
        z-index: 99;
    }

    .btn {
        border-radius: 13px;
        font-family: paralucent, sans-serif;
        font-weight: 500;
        font-style: normal;
        padding: 5px 15px;
    }
}

.project-pfp {
    width: 33px;
    height: 33px;
    border-radius: 8px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.project-thumb-wrap {
    padding: 16px;
    color: #fff;
    height: 220px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px 25px 0px 0px;
}

.project-text-wrap {
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.project-desc-wrap {
    a {
        color: #317E53;
        text-decoration: underline;
    }
}

.project-user-wrap {
    display: flex;
    gap: 8px;

    h5 {
        margin: 0;
        line-height: 0.95rem;
    }

    p {
        margin: 0;
        font-weight: 300;
        font-size: 0.813rem;
        line-height: 0.8rem;
    }

    > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.project-info-wrap {
    display: flex;
    justify-content: space-between;

    h3 {
        margin: 0;
        font-family: nimbus-sans, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.438rem;
    }

    h4 {
        margin: 0;
        font-family: nimbus-sans, sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 1.125rem;
    }
}

.project-list-info {
    width: 100%;
    display: flex;
    justify-content: space-between;

    p {
        margin: 0;
        font-weight: 300;
    }

    form {
        font-family: nimbus-sans, sans-serif;
        font-weight: 300;
        font-style: normal;

        select {
            border: none;
            font-weight: 400;

        }
    }
}

.project-image-wrap {
    display: flex;
    gap: 65px;

    img {
        max-width: 825px;
        border-radius: 25px;
    }
}

.project-dev-wrap {
    img {
        max-width: 150px;
        max-height: 150px;
        border-radius: 15px;
        aspect-ratio: 1 / 1;
        object-fit: cover;
    }

    > div {
        display: flex;
        gap: 20px;
    }

    h4 {
        margin: 0;
    }
}

.project-main-wrap {
    max-width: 825px;
}

.project-buttons {
    padding: 0px 15px;
    margin: 15px 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.budget-wrap {
    text-align: right;
}

.instruction-wrap {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.instruction {
    max-width: 636px;
    background: linear-gradient(#CAF1F6, rgba(0,0,0,0));
    border-radius: 30px;
    padding: 22px;
    width: 50%;

    div {
        display: flex;
        gap: 18px;
    }

    h3 {
        margin-bottom: 25px;
    }
}

.shortinfo {
    max-width: 636px;
    background: linear-gradient(#CAF1F6, rgba(0,0,0,0));
    border-radius: 30px;
    padding: 22px;
    width: 50%;
    height: fit-content;

    h3 {
        margin-bottom: 25px;
    }

    p {
        margin: 1px 0 0 0;
        line-height: 1rem;
    }

    .btn {
        width: 100%;
        text-align: left;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.btn-clear {
    font-family: paralucent, sans-serif;
    font-weight: 300;
    font-style: normal;
    border-radius: 13px;
    border: 1px solid #000;
    background: none;
    color: #000;
}

.default-main #register {
    color: #317E53;
    border: 2px solid #317E53;
    background: none;
}

.user-main-wrap {
    display: flex;
    justify-content: space-between;

    h1 {
        margin: 3px 0 0 0;
        line-height: 1.8rem;
    }

    p {
        margin: 0;
    }

    img {
        max-width: 240px;
        max-height: 240px;
        border-radius: 15px;
        aspect-ratio: 1 / 1;
        object-fit: cover;
    }

    .shortinfo {
        max-width: 400px;
    }
}

.user-profile-wrap {
    display: flex;
    gap: 25px;

    #Input_FirstName, #Input_LastName, #Input_Location, #Input_Website {
        height: initial;
        border: none;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        border-radius: 0;
        background: none;
    }
}

.user-profile-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    label {
        padding-left: 0;
        border: none;
    }

    .d-flex p {
        margin-top: 3px;
    }
}

.footer {
    position: initial !important;
    line-height: 20px !important;
    margin-top: 75px;

    a {
        margin-bottom: 20px;
    }
}

.footer-main {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    max-width: 1404px;
    margin: auto;
    padding: 40px 50px;
    flex-wrap: wrap;

    a {
        display: block;
        font-family: paralucent, sans-serif;
        font-weight: 300;
        font-style: normal;
        color: #000 !important;
        text-decoration: none;
    }

    h3 {
        margin-bottom: 25px;
    }
}

.copyright {
    text-align: center;
    margin-bottom: 0;
    padding-top: 20px;
}

.search-wrap {
    width: 100%;
    flex-basis: 350px;
    display: flex;
}

#SearchString {
    border: none;
    font-family: paralucent, sans-serif;
    font-weight: 300;
    font-style: normal;
    background: none;
    width: 100%;
}

#SearchString:focus-visible {
    outline: none;
}

#search-form {
    border: 2px solid #000;
    border-radius: 18px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;

    button {
        border: none;
        background: none;
        padding: 0;
    }
}

.pagination {
    gap: 10px;

    .page-link {
        font-family: "paralucent", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 0.938rem;
        color: #000;
        border: 1px solid #000;
        border-radius: 10px !important;
    }
}

.form-floating, .form {
    transition: all 0.2s ease;
}

.form-floating:hover, .form:hover {
    background-color: #CECECE;
    border-radius: 10px;
}

.username-input-wrap {
    display: flex;
    align-items: center;
    position: relative;

    span {
        position: absolute;
        height: min-content;
    }

    #Input_Username {
        height: initial;
        border: none;
        padding-left: 17px;
        padding-right: 0;
        background: none;
    }
}

.specialties-input-wrap {
    display: flex;
    align-items: center;
    position: relative;

    p {
        position: absolute;
    }

    #Input_Specialties {
        border: none;
        padding-left: 115px;
        padding-right: 0;
        background: none;
    }
}

.form-control {
    border: 1px solid #000;
    border-radius: 15px;
}

.form-control::file-selector-button {
    color: #fff;
    background-color: #000;
}

#logout {
    background: none;
}

.cke {
    border: 1px solid #000 !important;
    border-radius: 15px;

    .cke_inner, .cke_top, .cke_bottom {
        background: none;
    }
}

.nav-pills {
    border: 2px solid #CECECE;
    border-radius: 18px;

    .nav-link {
        color: #000;
        border-radius: 0;
    }

    .nav-link.active {
        background-color: #317E53 !important;
    }

    .nav-item:first-child a {
        border-radius: 15px 15px 0px 0px;
    }

    .nav-item:last-child a {
        border-radius: 0px 0px 15px 15px;
    }
}

.btn-danger {
    background-color: #bb2d3b;
    color: white !important;
    border: 0;
}

#contact-text {
    min-height: 200px;
}

.education, .job {
    margin-bottom: 15px;

    h4 {
        margin: 0;
    }

    p {
        margin: 0;
    }
}

.form-check-input {
    margin-top: 0;
}

.form-check-input:checked {
    background-color: #317E53;
    border-color: #317E53;
}

.main-wrap {
    display: flex;
    justify-content: space-between;

    .content-wrap {
        width: 50%;
    }

    .instruction {
        width: 25%;
        height: fit-content;
    }
}

.category-btn-wrap {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

@media (hover: hover) {
    .btn {
        transition: 0.2s ease;
    }

    .default-main .btn:hover {
        color: #fff;
        border-color: #45BC79;
    }

    .home-main .btn:hover {
        background: rgba(1, 1, 1, 0.2);
    }

    .btn:hover {
        background-color: #45BC79;
        color: #fff;
    }

    .btn-clear:hover {
        background-color: #CAF1F6;
    }

    .nav-link:hover {
        text-decoration: underline;
    }

    .footer a:hover {
        text-decoration: underline;
    }

    .project a:hover .project-thumb-wrap {
        background-size: 110%;
    }

    #logout:hover {
        background-color: initial;
    }

    .form-control:hover::file-selector-button {
        background-color: #317E53 !important;
    }

    .nav-pills .nav-link:hover {
        background-color: #CECECE;
    }

    .btn-danger:hover {
        background-color: #dc3545;
    }

    .btn-clear:hover {
        color: #000;
    }

    .default-main #register:hover {
        color: #fff;
        border: 2px solid #45BC79;
        background: #45BC79;
    }

    .breadcrumbs-item:hover {
        transform: scale(1.05);
        
        a {
            color: #000;
            text-decoration: underline;
        }
    }
}

@media (max-width: 1175px) {
    .default-logo {
        content: url("/media/logo_mobile_black.png");
    }
}

@media (max-width: 1000px) {
    .home-logo {
        content: url("/media/logo_mobile_white.png");
    }

    .search-wrap {
        width: auto !important;
    }

    .container {
        padding: 0px 20px !important;
    }

    .project-wrap {
        justify-content: center;
    }

    .user-main-wrap {
        flex-direction: column;
        gap: 30px;

        .shortinfo {
            max-width: none;
            width: 100%;
        }
    }

    .user-manage-wrap .user-profile-wrap {
        flex-direction: column;

        img {
            max-width: none;
            max-height: none;
            width: 100%;
        }
    }
}

@media (min-width: 576px) and (max-width: 1000px) {
    .container-fluid {
        position: relative;
    }

    .navbar-brand {
        position: absolute;
        top: 0;
    }

    .navbar-nav {
        flex-wrap: wrap;
    }

    .search-wrap {
        margin: auto;
        flex-basis: 100%;
    }
}

@media (max-width: 767px) {
    .user-profile-wrap {
        flex-direction: column;

        img {
            max-width: none;
            max-height: none;
        }
    }

    .main-wrap {
        flex-direction: column-reverse;
        gap: 50px;

        .instruction {
            width: 100%;
        }

        .content-wrap {
            width: 100%;
        }
    }
}

@media (max-width: 767px) and (min-width: 576px) {
    .navbar-nav .nav-item:nth-child(1) {
        margin-left: 50px;
    }
}

@media (max-width: 575px) {
    .navbar {
        padding: 18px 21px;
    }

    .home-text {
        padding: 0px 20px;
    }

    main {
        padding: 20px;
    }

    .category-wrap {
        justify-content: center;
    }

    .category {
        width: 100%;
    }

    .project-wrap {
        justify-content: center;
    }

    .project {
        width: 100%;
    }

    .instruction-wrap {
        flex-direction: column;
    }

    .instruction {
        width: 100%;
    }

    .copyright {
        font-size: 0.8rem;
    }

    .footer-main {
        flex-direction: column;
        gap: 50px;
    }

    .default-main .navbar-nav {
        flex-direction: column-reverse;
        justify-content: space-evenly;
        padding: 20px 0px;
        height: 300px;
    }

    .search-wrap {
        width: 100% !important;
        flex-basis: unset;
    }

    #search-form {
        height: 52px;
    }
}