@model IEnumerable<Category>

<div>
    <div class="category-wrap">
        @{
            var count = 0;

            foreach (var item in Model)
            {
                if (count < 4)
                {
                    <div class="category" style="background-image: url('/media/categories/@item.Image');">
                        <div>
                            <div>
                                <h3>@item.Name</h3>
                                <p>@item.Description</p>
                            </div>
                            <a class="btn" asp-controller="Projects" asp-action="Index" asp-route-categorySlug="@item.Slug">Browse</a>
                        </div>
                    </div>

                    count++;
                }
            }
        }
    </div>
    <div class="m-3 category-link">
        <a asp-controller="Categories" asp-action="Index">Browse all categories</a>
    </div>
</div>
