@model IEnumerable<Category>

@{

    var count = 0;

    foreach (var item in Model)
    {
        if (count < 4)
        {
            <a asp-controller="Projects" asp-action="Index" asp-route-categorySlug="@item.Slug">@item.Name</a>

            count++;
        }
    }

}