@{
    ViewData["Title"] = "How does Devlancer work?";
}

<h1 class="mb-5">@ViewData["Title"]</h1>

<div class="main-wrap">
    <div class="content-wrap">
        <div class="mb-5" id="introduction">
            <p>Devlancer is made to be as simple and straight forward as possible to use and therefore this guide was created to explain how to use the service both as a developer or someone looking for developers to hire. If you have any further questions after reading this guide you can <a href="#">contact us.</a></p>
        </div>
        <h2>How is Devlancer used?</h2>
        <div class="mb-5" id="developer">
            <h3>As a developer</h3>
            <h4>Create an account</h4>
            <p>The first step to using Devlancer as a developer looking for freelance work is to create an account by clicking the "Register" button in the navigation bar and filling in the following form.</p>
            <h4>Customize your profile</h4>
            <p>When you first create your account your profile will be empty. Therefore it is a good idea to customize this profile before you create any projects, to do this you first click on the "Hello username!" link in the navigation bar. On the following page you can fill in the different fields to edit your profile and also add a profile picture, your previous experience and education to this profile.</p>
            <h4>Create your first job</h4>
            <p>Now you are ready to create your first job, to do this you first click on the "My Projects" link in the navigation bar and then on the "Create New" button. You then fill in the fields with whatever information is needed for your project and then click on the "Create" button when you are ready.</p>
            <h4>Interact with interested employers</h4>
            <p>If an employer is interested in your services you will get an email from them on the email you have connected to your account.</p>
        </div>
        <div id="employer">
            <h3>As an employer</h3>
            <h4>Find a project</h4>
            <p>As an employer you don't need an account and have a few options in terms of ways of finding developers to hire. You can browse all projects on the site by clicking the "Browse", if you only want to browse jobs of a certain category you can browse categories from the home page. You can also search for specific project titles via the search bar in the navigation bar or on the home page.</p>
            <h4>Contact the developer</h4>
            <p>Once you've found the project and developer that matches what you are looking for you can view the profile of the developer by clicking the "View profile" button. This way you can browse the developers credentials and previous projects before you contact them. To contact the developer you click the "Contact this developer" button on the project page and write your e-mail.</p>
        </div>
    </div>
    <div class="instruction">
        <h4>Navigation</h4>
        <ul class="list-unstyled">
            <li><a class="text-black" href="#whatis">What is Devlancer?</a></li>
            <li><a class="text-black" href="#background">Background</a></li>
        </ul>
    </div>
</div>

