@{
    ViewData["Title"] = "About us";
}

<h1 class="mb-5">@ViewData["Title"]</h1>

<div class="main-wrap">
    <div class="content-wrap">
        <div class="mb-5" id="whatis">
            <h3>What is Devlancer?</h3>
            <p>Devlancer is a web service dedicated to helping developers with finding freelance work. The website acts as a place for these developers to post the work they offer and create a profile with their qualifications so employers can find them. At the same time Devlancer also acts as a place for these employers to find skilled and dedicated freelance developers to help bring their projects to life. As an employer you can browse our many categories for jobs as well as search for specific jobs to find exactly the developer or job you are looking for.</p>
        </div>
        <div id="background">
            <h3>Background</h3>
            <p>Devlancer was created by Samuel Ward as a final examination project in his education in becoming a full-stack web developer. The idea for the project was, as a soon newly graduated web developer, to create a place for developers specifically to advertise themselves and find freelance work. Something that can be challenging on other websites where there are 10s or even 100s of thousands of freelancers in every field under the sun making it hard to stand out. At the same time the project acted as a good way to sharpen skills as a full-stack developer developing a fully fledged service from the ground up with .NET and Entity Framework as well as Sass-stylesheets.</p>
        </div>
    </div>
    <div class="instruction">
        <h4>Navigation</h4>
        <ul class="list-unstyled">
            <li><a class="text-black" href="#whatis">What is Devlancer?</a></li>
            <li><a class="text-black" href="#background">Background</a></li>
        </ul>
    </div>
</div>
